.error-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .error-svg-wrap {
    position: absolute;
    height: auto;
    max-width: 100%;
    padding: 100px 20%;
    -webkit-animation: hueRotate 6s ease-in-out 3s infinite;
    animation: hueRotate 6s ease-in-out 3s infinite;
  }
  
  /* Ajout des ID pour correspondre aux styles initiaux */
  #error-svg-wrap1 {
    animation-name: hueRotate1;
  }
  
  #error-svg-wrap2 {
    animation-name: hueRotate2;
  }
  
  /* Définir les animations */
  @keyframes hueRotate {
    0% {
      filter: hue-rotate(0deg);
    }
    50% {
      filter: hue-rotate(180deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
  
  @keyframes hueRotate1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes hueRotate2 {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  